@use '../abstracts/variables' as *;

.site-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-block: 2rem 0;

  &__container {
    width: min($container-width, calc(100% - 140px));
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

  }

  &__brand {
    //margin: 0 auto;
   display: flex;
    justify-self: start;
  }

  &__nav {
    //margin: 0;
    justify-self: start;
  }

  &__nav-list {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: clamp(2rem, 2vw, 8rem);
  }

  &__nav-item {
    flex: 0 0 auto;
    font-size: 0.8rem;
  }
}