.site-header {
  width: 100%;
  margin: 1.5em auto;

  & .site-header__topbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  & .site-header__region {
    display: flex;
    font-size: 0.7rem;
  }

  * .site-header__region_country {
    padding-right: 0.2rem;
  }

  & .site-header__brand {
    font-size: 1.3rem;
    font-weight: bold;
  }

  & .site-header__action {
    border: none;
    margin: auto 1rem;
  }
}