.site-header {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  margin: 1rem 0;

  & .site-header__brand {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  & .site-header__nav, .site-header__nav-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: auto 4rem;

  }
}