@use '../abstracts/variables' as *;

:root {
  font-family: $font-family-base;
  background: $color-background-base;
  color: $color-text;
}

.container {
  width: min(100% - 32px, $container-width);
  margin-inline: auto;
}
